
PS1_data/CallReportVariableKey_WRDS_2021.xlsx
.Rhistory
liqpro-jf-final.pdf
PhD_PS1_2022.pdf
PS1_data/callrep_ps.sas
PS1_data/callreports_1976_2021wc.csv
PS1_data/callreports_1976_2021wc.dta
dT.RData
.vscode/settings.json
*.json
*.tex
2.R
.RData
9296LargeBankCOMRATBhcid.aux
9296LargeBankCOMRATBhcid.log
9296LargeBankCOMRATBhcid.pdf
9296LargeBankCOMRATBhcid.synctex.gz
binsreg9296.png
crossSectionBigBank.csv
scatter9296.jpeg
scatter9296.png
test.log
test100.csv
9296binsreg.png
9296scatter.png
9713binsreg.png
9713scatter.png
9296binsregCOMRAT.png
9713scatterSECRAT.png
9713scatterLIQRAT.png
9713scatterCOMRAT.png
9713binsregSECRAT.png
9713binsregLIQRAT.png
9713binsregCOMRAT.png
9296scatterSECRAT.png
9296scatterLIQRAT.png
9296scatterCOMRAT.png
9296binsregSECRAT.png
9296binsregLIQRAT.png
FinacialEconometricI_HW3Report_MaximeBorel.pdf
WS_Final.RData
